<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Screenshot comparison tests" parallel="tests" thread-count="2">
    <test name="desktop - full page">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.tests.DifferentDevices">
                <methods>
                    <include name="desktop"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="tablet - full page">
        <parameter name="deviceName" value="iPad"/>
        <classes>
            <class name="com.tests.DifferentDevices">
                <methods>
                    <include name="tablet"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="mobile - full page">
        <parameter name="deviceName" value="iPhone 7"/>
        <classes>
            <class name="com.tests.DifferentDevices">
                <methods>
                    <include name="mobile"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="desktop - part of the page">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.tests.SimpleExamples">
                <methods>
                    <include name="desktopPartOfThePageImageComparison"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="desktop - full page with one ignore element">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.tests.SimpleExamples">
                <methods>
                    <include name="desktopFullPageWithOneIgnoreElement"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="desktop - full page with multiple ignore elements">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.tests.SimpleExamples">
                <methods>
                    <include name="desktopFullPageWithMultipleIgnoreElement"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="desktop - full page 100% failed test">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.tests.SimpleExamples">
                <methods>
                    <include name="desktopFullPageFailedTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>